:root{
    --green: #1abc9c;
    --dark-color: #2c3e50;
    --dark-text: #333333;
    --footer-top: #3a546d;
}
#hero ,#about{
    background-color: var(--green);
}
.navbar, .footer-bottom{
    background-color: var(--dark-color);
}
.footer-top{
    background-color: var(--footer-top);
}
#hero img{
    max-width: 250px;
}
h1{
    font-size: 4rem;
}
.star i{
    display: block;
    width: 20%;
    font-size: 2rem;
}
.star:before, .star:after{
    content: '';
    display: block;
    width: 30%;
    height: 4px;
    border-radius: 3px;
    background-color: white;
}
.star.black:before, .star.black:after{
    background-color: black;
}
.box-img:after{
    display: flex;
    justify-content: center;
    align-items: center;
    content: '+';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 7rem;
    background-color: rgba(26, 188, 156, 0.7);
    opacity: 0;
    color: white;
    transition: 0.5s opacity;
}
.box-img:hover:after{
    opacity: 1;
}
.nav-item a:hover{
    color: var(--green);
}
.mb-3 .form-control{
    border-radius: 0;
}
.footer-top .row .col-3{
    width: 55px;
    height: 55px;
}